.home_section {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    background: rgb(50, 50, 50);
    color: #f9f9f9;
    height: 88.1vh;

    .intro {
        margin-left: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 1rem;

        .home_head {
            text-align: left;
            margin-bottom: 0.5rem;
            font-size: 2.8rem;
            letter-spacing: 1px;
        }
        p {
            letter-spacing: 1px;
            font-size: 0.9rem;
            margin-top: 0.5rem;
            color: gray;
        }
        .btns {
            display: flex;
            gap: 1rem;
            margin-top: 1rem;

            button {
                letter-spacing: 2px;
                color: #f9f9f9;
                font-size: 0.9rem;
                background: none;
                border: 2px solid rgb(249 239 89);
                padding: 0.6rem 0.9rem;
                border-radius: 5px;
                &:hover {
                    cursor: pointer;
                    color: rgb(249 239 89);
                }

                &:nth-child(2) {
                    background: rgb(249 239 89);
                    border: 2px solid rgb(249 239 89);
                    padding: 0.6rem 0.9rem;
                    border-radius: 5px;
                    color: rgb(50, 50, 50);

                    &:hover {
                        background: none;
                        color: #f9f9f9;
                    }
                }
            }
        }
    }

    .home_pic {
        display: flex;
        padding: 2rem;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
            height: 70vh;
        }
    }
}

.about_us {
    padding: 0 4rem;
    h1 {
        text-align: center;
        margin-top: 1.5rem;
        font-size: 2.5rem;
    }
    p {
        margin-top: 1rem;
        font-size: 0.9rem;
        color: gray;
        letter-spacing: 1px;
    }
}

@media screen and (max-width: 920px) {
    .home_section {
        grid-template-columns: 1fr 1fr;
        .intro {
            margin-left: 2rem;
        }
        .home_pic {
            padding: 2rem 0;
            align-items: center;
            img {
                // width: 10%;
                height: 60vh;
            }
        }
    }
    .about_us {
        padding: 0 2rem;
    }
}

@media screen and (max-width: 700px) {
    .home_section {
        height: 85vh;
        grid-template-columns: 1fr;

        .intro {
            margin: 0 1rem;
            padding: 0;
            margin-top: -2.5rem;
        }
        .home_pic {
            display: none;
        }
    }
}
